span.fy-like:before{content:'like';}
span.fy-dislike:before{content:'dislike';}
span.fy-:before{content:'gg';}
span.fy-hello:before{content:'gg';}
span.fy-hallaluja-asdasd:before{content:'hallaluja asdasd';}
