body {
	font-family: 'PT Sans', sans-serif;
}

div.jumbotron a, body a, footer{
	color: #4D5DAA;
}

div.jumbotron, body a:hover{
	color: #73C9B8;
}

.row#getting-started {
    display: none;
}

th:before {
    content: "\f0dc";
    font-family: FontAwesome;
}

th.sorting_asc:before {
    content: "\f0d8";
    font-family: FontAwesome;
}

th.sorting_desc:before {
    content: "\f0d7";
    font-family: FontAwesome;
}

td {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

tr {
	height:45px;
	font-size:0.9em;
}

footer{
	margin-top:100px;
	text-align: center;
	margin-bottom:30px;
}

footer span{
	margin-right: 60px;
}


@media (min-width: 1200px){
	input {
		width: inherit;
	}
}

@media (max-width: 992px){
	input {
		width: 60px;
	}
}


@media (max-width: 768px){
	input {
		width: 40px;
	}
}

